* {
    /* outline: 1px solid white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', "Roboto", sans-serif;
    height: 100vh;
    background-color: #C8EEE4;
}
#main{
    flex : 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-body{
    background-color: #263238;
    color: white;
    border: 3px solid #5aafa0;
    border-radius: 25px;
    height: fit-content;
    width: 33rem;

    padding: 1.5rem;
}

.title{
    opacity: 0.6;
}

#display{
    background-color: #1e272c;
    border-radius: 12px;
    width: 100%;
    height: 15rem;
    margin: 1rem 0 1.8rem;

    display: flex;
    flex-direction: column-reverse;    
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1.5rem;
    gap:4px;
    overflow: auto;
    scrollbar-gutter: stable; 
}


h2{
    opacity: 0.5;
    font-weight: 400;
}

#display > h3 {
    opacity: 0.5;
    font-weight: 400;
    letter-spacing: -0.1em ;
}

#divider{
    width: 100%;
    border: 1px solid #334455;
    margin: 10px 0;
}


::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #263238; 
    background: #1e272c; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #0fc1a0f7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0ead90ee;
}







#button-container{
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    gap: 1rem;
}
button{
    font-family: inherit;
    color: white;
    background-color: #34454c;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;

    flex: 0 0 auto;
    height: 4rem;
    width: 5rem;
}

/* ========= BUTTON STYLINGS ========= */
button.zero, button.equal{
    width: 11rem; 
}

button.operator{
    background-color:#496571 ;
}
button.action{
    background-color: #A94442;
}
button.equal{
    background-color: #009688;
}


button {
    transition: all 0.15s ease;
}
button:hover{
    background-color: #3f545c;
}
button:active{
    outline: 1px solid whitesmoke;
    background-color: #2a383e; 
}

button.operator:hover {
    background-color: #5f7f8e;
}
button.operator:active {
    background-color: #3f5964;
}

button.action:hover {
    background-color: #bf5653;
}
button.action:active {
    background-color: #8e3634;
}

button.equal:hover {
    background-color: #1aa79a;
}
button.equal:active {
    background-color: #00796b;
}



/* ========= FOOTER ========= */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-top: auto;
    padding:10px;
    /* font-family: "Roboto"; */
}
.github-logo {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
    vertical-align: middle;
}
.github-logo:hover {
  transform: rotate(360deg) scale(1.2);
}